[submodule "2025-Person-Segmentation-And-Intrusion-Detection-System"]
	path = 2025-Person-Segmentation-And-Intrusion-Detection-System
	url = https://github.com/VictorAurelius/2025-Person-Segmentation-And-Intrusion-Detection-System.git
